body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("photo-login.avif");

    

}

h1{

    text-align: center;
    
}

#box{
    margin-top: 3%;
    width: 350px;
    height: 680px;
    background-color: whitesmoke;
    border: solid black 1px;
    border-radius: 10px;
    padding: 2%;

}

#button{
    width: 100%;
}
#lg{
    text-align: center;
}
